.xx-header {
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
  color: #333;
  padding: 10px 10px;
}
.chat-box {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  padding: 20px;
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.message-loader {
  justify-content: flex-start;
  width: 20px !important;
  height: 20px !important;
  margin: 10px;
}

.messages .user,
.messages .assistant {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.messages .user {
  flex-direction: row-reverse;
}

.messages .assistant {
  justify-content: flex-start;

  mat-card {
    background-color: palevioletred;
  }
}

.photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.messages .user .photo {
  margin-left: 10px;
  margin-right: 0;
}

mat-card {
  max-width: 75%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
}

mat-card-subtitle {
  font-size: 14px;
  color: #333;
}

.input-area {
  display: flex;
  align-items: center;
}

mat-form-field {
  flex: 1;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
}
.avatar{
  width: 50px;
  border-radius: 50%;
}