<h1 class="xx-header">(￣^￣)ゞ恋嶼制作ん❀</h1>
<div class="chat-box">
  <div class="header">
    <mat-form-field class="example-full-width">
      <mat-label>Choose a bot personality</mat-label>
      <mat-select [(ngModel)]="selectedPersonality">
        <mat-option *ngFor="let personality of personalities" [value]="personality.value">
          <img class="avatar" [src]="personality.avatar" />
          {{ personality.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="messages">
    <div *ngFor="let message of messages" [ngClass]="message.role" class="message">
      <img class="photo" [src]="getPhoto( message.role, selectedPersonality)" />
      <mat-card class="message-card">
        <mat-card-subtitle>{{ message.content }}</mat-card-subtitle>
      </mat-card>
    </div>
  </div>

  <div class="input-area">
    <mat-form-field class="example-full-width">
      <mat-label>请留下对我说的话</mat-label>
      <textarea
        matInput
        placeholder="和我聊天，一起恋爱叭~"
        [(ngModel)]="userInput"
        (keyup.enter)="sendMessage()"
      ></textarea>
    </mat-form-field>
    <button mat-stroked-button color="primary" (click)="sendMessage()">
      Send
    </button>
  </div>
</div>
